.card{
    background-color: bisque;
    color: red;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.title{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

.bio{
    font-size: smaller;
}