.card{
    background-color: #ffe4c4;
    color: #c48400;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.title{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

.bio{
    font-size: smaller;
}

h1{
    color: #402e32;
}

body{
    background-color: #dfe0df;
}

#search-bar{
    font-size: 10px;
}